header{
    background-image: url('./imagem/fundoheader.png');
    background-size: cover;
    width: 1512px;
    height: 1100px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.logo{
    width: 485px;
    height: 178px;
    margin-top: 150px;
}


.colunaesq{
    width: 50%;
}

.colunadir{
    width: 50%;
}

.mulher{
    position: absolute;
    width: 662px;
    height: 674px;
    left: 796px;
    top: 24px;
}

.lateralmulheresq{
    position: absolute;
    width: 277px;
    height: 514px;
    left: 696px;
    top: 40px;
}

.lateralmulherdir1{
    position: absolute;
    width: 163px;
    height: 177px;
    left: 1257px;
    top: 83px;
}

.lateralmulherdir2{
    position: absolute;
    width: 43px;
    height: 40px;
    left: 1390px;
    top: 220px;
}

.lateralmulherdir3{
    position: absolute;
    width: 129px;
    height: 129px;
    left: 1304px;
    top: 318px;
}

.formulario{
    position: absolute;
    left: 50.98%;
    right: 8.07%;
    top: 550px;
    bottom: 90.68%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    width: 600px;
    height: 540px;
}

.tituloForm{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #3039C3;
}

.inputs{
    background: #FFFFFF;
    border: 1px solid #3039C3;
    border-radius: 26.7637px;
    width: 512px;
    height: 54px;
    margin: 10px;
    color:#989898;
    font-family: 'Roboto';
    padding-left: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 19.65px;
    line-height: 23px;
}

.btnEnviar{
    width: 550px;
    height: 69px;
    background: #FF8412;
    border-radius: 34px;
    border-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
}

.subTitle1{
    font-size: 38.8px;
    line-height: 48.5px;
    font-weight: 700;
    font-family: 'Poppins';
    text-align: left;
    color: #F9F9F9;
    position: absolute;
    width: 463px;
    height: 132px;
    left: 187px;
    top: 306px;
}

.subTitle2{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'Poppins';
    text-align: left;
    color: #F9F9F9;
    position: absolute;
    width: 472px;
    height: 191px;
    left: 187px;
    top: 482px;
}

.subTitle3{
    position: absolute;
    width: 172px;
    height: 23px;
    left: 358px;
    top: 680px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #50D9D4;
}

.suasLogos{
    position: absolute;
    width: 59.77px;
    height: 59.77px;
    left: 194.5px;
    top: 757.63px;
}

.suasLogos2{
    position: absolute;
    width: 59.77px;
    height: 59.77px;
    left: 475.5px;
    top: 757.63px;
}

.suasLogos3{
    position: absolute;
    width: 59.77px;
    height: 59.77px;
    left: 194.5px;
    top: 861.63px;
    
}

.suasLogos4{
    position: absolute;
    width: 59.77px;
    height: 59.77px;
    left: 475.5px;
    top: 861.63px;
}

.textoLogos{
    position: absolute;
    width: 161px;
    height: 68px;
    left: 269px;
    top: 750px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 11.6053px;
    line-height: 16px;
    color: #F9F9F9;
    text-align: left;
}

.textoLogos2{
        position: absolute;
        width: 133px;
        height: 62px;
        left: 550px;
        top: 750px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 11.6053px;
        line-height: 16px;
        color: #F9F9F9;
        text-align: left;
        
}

.textoLogos3{
    position: absolute;
    width: 133.46px;
    height: 75.43px;
    left: 268.77px;
    top: 854.67px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 11.6053px;
    line-height: 16px;
    color: #F9F9F9;
    text-align: left;
}

.textoLogos4{
    position: absolute;
    width: 146px;
    height: 75px;
    left: 550px;
    top: 855px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 11.6053px;
    line-height: 16px;
    color: #F9F9F9;
    text-align: left;
}

.negrito{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins';

}

.Parte1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 1100px;
    height: 3700px;
    background: #3136AC;
}

.tituloConteudo{
    margin-top: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #F9F9F9;
}

.principalTitulo{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 69px;
    line-height: 56px;
    color: #50D9D4;
    padding: 20px;
    text-decoration: underline #000000; 
}

.baseConteudo2{
    position: absolute;
    width: 450px;
    height: 450px;
    left: 135px;
    top: 400px;
}

.baseConteudo3{
    position: absolute;
    width: 450px;
    height: 450px;
    left: 950px;
    top: 1200px;
}

.baseConteudo4{
    position: absolute;
    width: 450px;
    height: 450px;
    left: 135px;
    top: 2000px;
}

.baseConteudo5{
    position: absolute;
    width: 450px;
    height: 450px;
    left: 950px;
    top: 2800px;
}

.torre{
    position: absolute;
    left: 768px;
    top: 400px;
    width: 59.93px;
    height: 60px;
    background: #FFFFFF;
    border: solid;
    border-radius: 60px; 
    border-color: #FFFFFF;   
    padding: 23px;
}

.exclamacao{
    position: absolute;
    left: 768px;
    top: 1200px;
    width: 59.93px;
    height: 60px;
    background: #FFFFFF;
    border: solid;
    border-radius: 200px; 
    border-color: #FFFFFF;   
    padding: 23px;
}

.grafico{
    position: absolute;
    left: 768px;
    top: 2000px;
    width: 59.93px;
    height: 60px;
    background: #FFFFFF;
    border: solid;
    border-radius: 200px; 
    border-color: #FFFFFF;   
    padding: 23px;
}

.config{
    position: absolute;
    left: 768px;
    top: 2800px;
    width: 59.93px;
    height: 60px;
    background: #FFFFFF;
    border: solid;
    border-radius: 200px; 
    border-color: #FFFFFF;   
    padding: 23px;
}


.baseTorre{
    width: 58.93px;
    height: 60px;
}

#linha-vertical1 {
    height: 700px;
    position: absolute;
    width: 0px;
    left: 820px;
    top: 512px;
    border: 3px solid #000000;
}


#linha-vertical2 {
    height: 700px;
    position: absolute;
    width: 0px;
    left: 820px;
    top: 1312px;
    border: 3px solid #000000;
}

#linha-vertical3 {
    height: 700px;
    position: absolute;
    width: 0px;
    left: 820px;
    top: 2112px;
    border: 3px solid #000000;
}

#linha-vertical4 {
    height: 500px;
    position: absolute;
    width: 0px;
    left: 820px;
    top: 2912px;
    border: 3px solid #000000;
}

.bola {
    position: absolute;
    width: 26px;
    height: 27px;
    left: 809px;
    top: 3415px;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    border: 1px solid #50D9D4;
    background-color: #50D9D4;
}

.tituloBase1{
    position: absolute;
    width: 259px;
    height: 36px;
    left: 920px;
    top: 400px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #F9F9F9;
}

.textoBase1{
    position: absolute;
    left: 920px;
    top: 520px;
    text-align: left;
    width: 532px;
    height: 392px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #F9F9F9;

}

.tituloBase2{
    position: absolute;
    width: 259px;
    height: 36px;
    left: 420px;
    top: 1200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #F9F9F9;
    text-align: right;
}

.textoBase2{
    position: absolute;
    left: 135px;
    top: 1320px;
    text-align: left;
    width: 532px;
    height: 392px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #F9F9F9;
    text-align: right;

}

.tituloBase3{
    position: absolute;
    width: 259px;
    height: 36px;
    left: 920px;
    top: 2000px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #F9F9F9;
}

.textoBase3{
    position: absolute;
    left: 920px;
    top: 2120px;
    text-align: left;
    width: 532px;
    height: 392px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #F9F9F9;

}

.tituloBase4{
    position: absolute;
    width: 259px;
    height: 36px;
    left: 420px;
    top: 2800px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #F9F9F9;
    text-align: right;
}

.textoBase4{
    position: absolute;
    left: 135px;
    top: 2920px;
    text-align: left;
    width: 532px;
    height: 392px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #F9F9F9;
    text-align: right;

}

.btnContato{
    position: absolute;
    width: 371px;
    height: 74px;
    left: 630px;
    top: 3550px;
    background: #50D9D4;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    border-color: #50D9D4;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.Parte2{
    position: absolute;
    width: 1518px;
    height: 1050px;
    left: -4px;
    top: 4800px;
    background-image: url('./imagem/parte2.png');
    background-size: cover;
}

.titParte2{
    position: absolute;
    width: 443px;
    height: 218px;
    left: 25px;
    top: 200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 63px;
    line-height: 71px;
    color: #3333CC;
}

.subtitParte2{
    position: absolute;
    width: 101px;
    height: 36px;
    left: 150px;
    top: 150px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #212121;
}

.subtitParte2Linha{
    position: absolute;
    width: 102px;
    height: 0px;
    left: 150px;
    top: 180px;
    border: 3px solid #000000;
}

.quadradoParte2{
    position: absolute;
    width: 1017px;
    height: 465px;
    left: 400px;
    top: 180px;
    background: rgba(249, 249, 249, 0.9);
    border-radius: 130.273px;
}

.textParte2{
    position: absolute;
    width: 600px;
    height: 153px;
    left: 150px;
    top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20.37px;
    line-height: 34px;
    color: #212121;
    text-align: left;
}

.xx1{
    position: absolute;
    width: 238.83px;
    height: 62.68px;
    left: 50px;
    top: 200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight:900;
    font-size: 57px;
    line-height: 56px;
    color: #212121;
    text-align: center;
}

.subXX1{
    position: absolute;
    width: 96px;
    height: 67px;
    left: 125px;
    top: 290px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26.1845px;
    line-height: 30px;
    color: #212121;
}

.bordaXX2{
    position: absolute;
    width: 238.83px;
    height: 274.54px;
    left: 280px;
    top: 230px;
    background: #FFFFFF;
    box-shadow: 0px 3.47395px 17.3698px rgba(0, 0, 0, 0.25);
    border-radius: 63.4776px;
}

.xx2{
    position: absolute;
    width: 238.83px;
    height: 62.68px;
    left: 0px;
    top: -30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 57.9233px;
    line-height: 56px;
    text-align: center;
    color: #3333CC;
}

.subXX2{
    position: absolute;
    width: 190px;
    height: 67px;
    left: 20px;
    top: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26.1845px;
    line-height: 30px;
    color: #3333CC;
    text-align: center;
}

.textXX2{
    position: absolute;
    width: 172px;
    height: 118px;
    left: 30px;
    top: 120px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15.6328px;
    line-height: 26px;
    color: #212121;
    text-align: left;

}

.xx3{
    position: absolute;
    width: 238.83px;
    height: 62.68px;
    left: 500px;
    top: 200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight:900;
    font-size: 57px;
    line-height: 56px;
    color: #212121;
    text-align: center;
    font-stretch: ultra-condensed;
}

.subXX3{
    position: absolute;
    width: 96px;
    height: 67px;
    left: 580px;
    top: 290px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26.1845px;
    line-height: 30px;
    color: #212121;
}

.xx4{
    position: absolute;
    width: 238.83px;
    height: 62.68px;
    left: 700px;
    top: 200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 57.9233px;
    line-height: 56px;
    text-align: center;
    color: #212121;
}

.subXX4{
    position: absolute;
    width: 190px;
    height: 67px;
    left: 720px;
    top: 290px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26.1845px;
    line-height: 30px;
    color: #212121;
    text-align: center;
}

.subtit2Parte2{
    position: absolute;
    width: 101px;
    height: 32px;
    left: 800px;
    top: 700px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 31px;
    letter-spacing: 0.05em;
    color: #212121;
}

.subtit2Parte2Linha{
    position: absolute;
    width: 99px;
    height: 0px;
    left: 800px;
    top: 730px;
    border: 3px solid #000000;

}

.LocalParte2{
    position: absolute;
    width: 113.77px;
    height: 113.77px;
    left: 400px;
    top: 760px;
    background: linear-gradient(100.25deg, #3333CC 15.14%, #6B6BF8 87.47%);
    border-radius: 30.7984px;
}

.localIcon{
    position: absolute;
    left: 15%;
    right: 4.22%;
    top: 15%;
    bottom: 20.1%;
    width: 80px;
    height: 80px;
}

.titLocal{
    position: absolute;
    width: 207.57px;
    height: 38.21px;
    left: 150px;
    top: -20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26.1845px;
    line-height: 30px;
    color: #212121;
}

.textLocal{
    position: absolute;
    width: 319.6px;
    height: 84.24px;
    left: 170px;
    top: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17.3698px;
    line-height: 25px;
    color: #212121;
    text-align: left;
}

.Local2Parte2{
    position: absolute;
    width: 113.77px;
    height: 113.77px;
    left: 950px;
    top: 760px;
    background: linear-gradient(100.25deg, #3333CC 15.14%, #6B6BF8 87.47%);
    border-radius: 30.7984px;
}

.localIcon2{
    position: absolute;
    left: 15%;
    right: 4.22%;
    top: 15%;
    bottom: 20.1%;
    width: 80px;
    height: 80px;
}

.titLocal2{
    position: absolute;
    width: 207.57px;
    height: 38.21px;
    left: 150px;
    top: -20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26.1845px;
    line-height: 30px;
    color: #212121;
}

.textLocal2{
    position: absolute;
    width: 319.6px;
    height: 84.24px;
    left: 170px;
    top: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17.3698px;
    line-height: 25px;
    color: #212121;
    text-align: left;
}

.Parte3{
    position: absolute;
    width: 1518px;
    height: 1050px;
    left: -4px;
    top: 5700px;
    background-color: #F9F9F9;
}

.titleParte3{
    position: absolute;
    width: 443px;
    height: 138px;
    left: -30px;
    top: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 63px;
    line-height: 71px;
    color: #212121;
}

.subTitleParte3{
    position: absolute;
    width: 101px;
    height: 36px;
    left: 100px;
    top: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #000000;
}

.subtitParte3Linha{
    position: absolute;
    width: 100px;
    height: 0px;
    left: 100px;
    top: 60px;
    border: 3px solid #3333CC;
}

.textParte3{
    position: absolute;
    width: 380px;
    height: 388px;
    left: 100px;
    top: 240px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17.3698px;
    line-height: 29px;
    color: #212121;
    text-align: left;
}

.pessoa1{
    position: absolute;
    width: 289.77px;
    height: 311.9px;
    left: 550px;
    top: 100px;
    background: rgba(249, 249, 249, 0.9);
    box-shadow: 0px 2.76628px 11.7567px rgba(0, 0, 0, 0.25);
    border-radius: 65.6992px;
}

.bola2 {
    position: absolute;
    width: 98.2px;
    height: 98.2px;
    left: 100px;
    top: -40px;
    background: #3333CC;
    border-radius: 50%;
}

.pessoa2{
    position: absolute;
    width: 289.77px;
    height: 311.9px;
    left: 870px;
    top: 100px;
    background: rgba(249, 249, 249, 0.9);
    box-shadow: 0px 2.76628px 11.7567px rgba(0, 0, 0, 0.25);
    border-radius: 65.6992px;
}

.pessoa3{
    position: absolute;
    width: 289.77px;
    height: 311.9px;
    left: 1190px;
    top: 100px;
    background: rgba(249, 249, 249, 0.9);
    box-shadow: 0px 2.76628px 11.7567px rgba(0, 0, 0, 0.25);
    border-radius: 65.6992px;
}

.pessoa4{
    position: absolute;
    width: 289.77px;
    height: 311.9px;
    left: 550px;
    top: 500px;
    background: rgba(249, 249, 249, 0.9);
    box-shadow: 0px 2.76628px 11.7567px rgba(0, 0, 0, 0.25);
    border-radius: 65.6992px;
}

.pessoa5{
    position: absolute;
    width: 289.77px;
    height: 311.9px;
    left: 870px;
    top: 500px;
    background: rgba(249, 249, 249, 0.9);
    box-shadow: 0px 2.76628px 11.7567px rgba(0, 0, 0, 0.25);
    border-radius: 65.6992px;
}

.pessoa6{
    position: absolute;
    width: 289.77px;
    height: 311.9px;
    left: 1190px;
    top: 500px;
    background: rgba(249, 249, 249, 0.9);
    box-shadow: 0px 2.76628px 11.7567px rgba(0, 0, 0, 0.25);
    border-radius: 65.6992px;
}

.tituloPessoa1{
    position: absolute;
    top: 60px;
    left: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16.5977px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #212121;
}

.textoPessoa1{
    position: absolute;
    top: 120px;
    left: 40px;
    width: 226.84px;
    height: 127.25px;
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10.3736px;
    line-height: 16px;
    color: #212121;
}

.iconeInsta{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 200px;
}

.btnContato2{
    position: absolute;
    width: 371px;
    height: 74px;
    left: 566px;
    top: 900px;
    background: #3333CC;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.2);
    border-color: #3333CC;
    border-radius: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.Parte4{
    position: absolute;
    width: 1518px;
    height: 238px;
    left: -4px;
    top: 6700px;
    background-color: #3039C3;
}

.tituloParte4{
    position: absolute;
    width: 900px;
    height: 150px;
    left: 352px;
    top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.tituloGrandeParte4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 69px;
    line-height: 56px;
    text-transform: uppercase;
    color: #50D9D4; 
}

.Parte5{
    position: absolute;
    width: 1513px;
    height: 1200px;
    left: 1px;
    top: 6930px;
    background: #F9F9F9;
}

.logoRedonda{
    box-sizing: border-box;
    position: absolute;
    width: 162px;
    height: 162px;
    left: 374px;
    top: 100px;
}

.tituloParte5{
    position: absolute;
    width: 490px;
    height: 55px;
    left: 561px;
    top: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 30px;
    text-align: center;
    color: #3039C3;
}

.textoParte5{
    position: absolute;
    width: 451px;
    height: 62px;
    left: 581px;
    top: 170px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #212121;
    text-align: left;
}

.imgProduto{
    position: absolute;
    width: 548px;
    height: 425px;
    left: 116px;
    top: 300px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 95px;
}

.descProduto{
    position: absolute;
    width: 627px;
    height: 32px;
    left: 760px;
    top: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #757575;
}

.tituloProduto{
    position: absolute;
    width: 161px;
    height: 32px;
    left: 760px;
    top: 350px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #212121;
}

.precoProduto{
    position: absolute;
    width: 480px;
    height: 63px;
    left: 635px;
    top: 370px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 57.9233px;
    line-height: 56px;
    color: #3039C3;
}

.desc2Produto{
    position: absolute;
    width: 418px;
    height: 67px;
    left: 635px;
    top: 470px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26.1845px;
    line-height: 30px;
    color: #3039C3;
}

.linhaProduto{
    position: absolute;
    width: 158px;
    height: 0px;
    left: 760px;
    top: 550px;
    border: 3px solid #50D9D4;
}

.precoProduto2{
    position: absolute;
    width: 480px;
    height: 63px;
    left: 600px;
    top: 530px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 57.9233px;
    line-height: 56px;
    color: #3039C3;
}

.desc3Produto{
    position: absolute;
    width: 418px;
    height: 67px;
    left: 635px;
    top: 630px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26.1845px;
    line-height: 30px;
    color: #3039C3;
}

.desc4Produto{
    position: absolute;
    width: 608px;
    height: 96px;
    left: 760px;
    top: 700px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #07C1BB;
    text-align: left;
}

.Parte6{
    position: absolute;
    width: 1513px;
    height: 854px;
    left: 1px;
    top: 7750px;
    background: #FFFFFF;
}

.img2Produto{
    position: absolute;
    width: 548px;
    height: 425px;
    left: 116px;
    top: 300px;
    background: #F9F9F9;
    border-radius: 95px;
}

.Parte7{
    position: absolute;
    width: 1513px;
    height: 848px;
    left: 1px;
    top: 8600px;
    background: #F9F9F9;
}

.Parte8{
    position: absolute;
    width: 1513px;
    height: 854px;
    left: 1px;
    top: 9500px;
    background: #FFFFFF;
}

.Parte9{
    position: absolute;
    width: 1512px;
    height: 938px;
    left: 0px;
    top: 10380px;
    background: #3039C3;
}

.homem{
    position: absolute;
    width: 620px;
    height: 1000px;
    left: 120px;
    top: -100px;
}

.tituloParte9{
    position: absolute;
    width: 476px;
    height: 78px;
    left: 650px;
    top: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 57.2773px;
    line-height: 67px;
    color: #F9F9F9;
}

.subtituloParte9{
    position: absolute;
    width: 652px;
    height: 78px;
    left: 638px;
    top: 130px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 82.3361px;
    line-height: 67px;
    color: #50D9D4;
}

.textoParte9{
    position: absolute;
width: 498px;
height: 241px;
left: 700px;
top: 260px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 23px;
line-height: 36px;
color: #F9F9F9;
text-align: left;
}

.inputs2Parte9{
    position: absolute;
    width: 501px;
    height: 54px;
    left: 700px;
    top: 550px;
    background: #FFFFFF;
    border-radius: 26.7637px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19.65px;
    line-height: 23px;
    color: #989898;
    padding-left: 30px;
}

.inputs1Parte9{
    position: absolute;
    width: 501px;
    height: 54px;
    left: 700px;
    top: 480px;
    background: #FFFFFF;
    border-radius: 26.7637px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19.65px;
    line-height: 23px;
    color: #989898;
    padding-left: 30px;
}

.inputs3Parte9{
    position: absolute;
    width: 501px;
    height: 54px;
    left: 700px;
    top: 620px;
    background: #FFFFFF;
    border-radius: 26.7637px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19.65px;
    line-height: 23px;
    color: #989898;
    padding-left: 30px;
}

.inputs4Parte9{
    position: absolute;
    width: 501px;
    height: 54px;
    left: 700px;
    top: 690px;
    background: #FFFFFF;
    border-radius: 26.7637px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19.65px;
    line-height: 23px;
    color: #989898;
    padding-left: 30px;
}

.btnEnviarParte9{
    box-sizing: border-box;
    position: absolute;
    width: 540px;
    height: 69px;
    left: 700px;
    top: 770px;
    background: #50D9D4;
    border: 2.55556px solid #50D9D4;
    box-shadow: 0px 5.11111px 6.38889px rgba(0, 0, 0, 0.25);
    border-radius: 34.1981px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36.11px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.Parte10{
    position: absolute;
    width: 1020px;
    height: 50px;
    left: 492px;
    top: 11270px;
    background: #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

.copy{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14.4039px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}


